<html>
<head>
	<meta name="viewport" content="width=1080, user-scalable=no">
	<title>CatchIt</title>
	<link rel="stylesheet" type="text/css" href="./../stylesheets/style.css">
</head>
<body>
	<div id="wrapper" class="catch_background">
		<div id="content">
			<h1 class="huge">CatchIt</h1>
			<h3 class="large">Welcome</h3>
			<h5 class="medium">Instructions</h5>
		    <p class="medium">Look for the picture on the top left corner</p>
		    <p class="medium">Use arrow keys to move the girl</p>
		    <p class="medium">Use spacebar to jump to catch lollipop</p>
		    <p class="medium">Catch the right spelling and you win</p>
			<button class="catch_btn button"><a href="catchit_game" class="medium">Start New Game</a></button>
		</div>
	</div>

</body>
</html>
